@font-face {
  font-family: "BM Hanna";
  src: url("/static/fonte/BMHANNAPro.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* ===== RESET GERAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BM Hanna", sans-serif;
}

/* ===== FUNDO GERAL ===== */
body, html {
  height: 100%;
  background-image: url("/static/imagens/fundo_s2.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- CONTAINER GERAL ---------- */
.container {
  display: flex;
  width: 150vh;
  max-width: 1500px;
  height: 80vh;
  background-color: #111;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(249, 135, 4, 0.697);
}
