/* ====================== */
/* ======= RODAPÉ ======= */
/* ====================== */

.rodape {
  background-color: #242222;        /* fundo escuro */
  text-align: center;               /* centraliza o texto */
  padding: 20px 0;                  /* espaço interno */
  font-family: 'BM Hanna', sans-serif;
  font-size: 22px;
  font-weight: 700;
  border-top: 5px solid #000;       /* linha padrão (preta) */
 
}

/* Gradiente no texto do rodapé */
.rodape span {
  background: linear-gradient(90deg, #ff751f, #b20837);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



/* Linha laranja apenas na página inicial */
body.pagina-inicial .rodape {
  border-top: 3px solid #ff751f !important;
}

