body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: "BM Hanna", sans-serif;
  height: 100vh;
}

h2 {
  background: linear-gradient(60deg, #ff751f, #b20837);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  margin: 0;
}

.geral {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header.topo #profile_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

header.topo #profile_icon img {
  width: 100%;
  height: 100%;
  color: #ffffff;
}

header.topo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  position: relative;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.6);
  height: 4rem;
}

header.topo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(90deg, #ff751f, #b20837);
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}

.logo-text {
  font-size: 1.4rem;
  margin: 0;
  font-weight: bold;
  background-image: linear-gradient(90deg, #ff751f, #b20837);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header.topo a {
  font-size: 1rem;
  font-weight: bold;
  background-image: linear-gradient(90deg, #ff751f, #b20837);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-side-bar {
  width: 35%;
  height: 100vh;
  overflow-y: auto;
  background-color: #0e0e0e;
  box-shadow: -5px 0 15px rgba(255, 117, 31, 0.1);
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.card {
  margin: 1rem 0rem;
  background: #181818;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(255, 117, 31, 0.2);
  overflow: hidden;
  padding: 3%;
  transition: background-color 0.4s ease-in-out, transform 0.3s ease-out,
    box-shadow 0.4s ease-in-out;
}

.card:hover {
  background: #1c1c1c;
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(255, 117, 31, 0.4);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tipo {
  background: linear-gradient(60deg, #ff751f, #b20837);
  color: #fff;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.image img {
  width: 100%;
  margin: 1rem;
  border-radius: 1rem;
  border: solid 2px rgba(255, 255, 255, 0.116);
}

footer {
  font-size: 0.95rem;
  color: #ccc;
  display: flex;
  align-items: center;
  gap: 5px;
}

footer i {
  color: #ff751f;
}

.container-mapa {
  width: 65%;
  height: 90%;
  display: flex;
  justify-content: start;
  align-items: start;
}

.mapa {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.footer {
  margin-top: 2rem;
  width: 100%;
  height: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  background: linear-gradient(60deg, #ff751f, #b20837);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapinha {
  height: 80%;
  width: 100%;
  border-radius: 0% 0px 20px 20px;
  overflow: hidden;
}

.barra-superior {
  display: flex;
  width: 100%;
  height: auto;
  align-content: center;
  justify-content: center;
  z-index: 1;
  padding-bottom: 8px;
}

.form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  padding: 1%;
  border-radius: 20px 20px 0px 0px;
}

button {
  color: #ffffff;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff751f, #b20837);
  transition: 0.3s;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.icons {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}

.icons img {
  color: #ffffff;
}

/* TELEFONES GRANDES E TABLETS */
@media (max-width: 1024px) {
  .geral {
    flex-direction: column;
    height: auto;
    overflow: visible;
  }

  .container-mapa,
  .container-side-bar {
    width: 100%;
    height: auto;
  }

  .mapinha {
    height: 400px;
  }

  button {
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
  }
}

/* CELULARES */
@media (max-width: 750px) {
  body {
    overflow: visible;
    height: 100%;
  }

  .geral {
    flex-direction: column;
    overflow: visible;
    align-items: center;
    height: auto;
  }

  .container-mapa {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .mapinha {
    height: 300px;
  }

  .barra-superior {
    justify-content: start;
    overflow-x: auto;
    padding: 5px 0;
    scrollbar-width: none;
  }

  .barra-superior::-webkit-scrollbar {
    display: none;
  }

  .form {
    width: max-content;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 14px;
  }

  button {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .icons {
    width: 22px;
    height: 22px;
  }

  .container-side-bar {
    height: auto;
    max-height: none;
    overflow-y: visible;
  }

  .card {
    margin: 0.5rem 0;
    padding: 4%;
  }

  .image img {
    width: 100%;
  }

  header.topo {
    display: flex;
    justify-content: space-around;
    height: 4rem;
  }
  header.topo a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    margin: 5px;
    text-decoration: none;
  }

  header.topo #profile_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
  }

  .logo-text {
    display: flex;
    font-size: 0.9rem;
    margin: 0;
    font-weight: bold;
    background-image: linear-gradient(90deg, #ff751f, #b20837);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
  }
}

/* MUITO PEQUENOS */
@media (max-width: 400px) {
  button {
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem;
  }

  .mapinha {
    height: 250px;
  }
}
