/* ======= ESTILO GERAL (tema laranja/vermelho) ======= */
@font-face {
  font-family: "BM Hanna";
  src: url("/static/fonte/BMHANNAPro.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.html {
  margin: 0;
}

h1 {
  font-family: "BM Hanna";
  font-display: fallback;
}
.geral {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 0.1px;
}
.container-mapa {
  padding-top: 5%;
  display: flex;
  width: 70%;
  height: 100vh;
  position: fixed;
}

.mapa {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.barra-superior {
  display: flex;
  padding: 1%;
}

.container-side-bar {
  width: 100%;
  height: auto;
  display: flex;
  background-color: aqua;
  justify-content: end;
}

.side-bar {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 125, 0);
  width: 30%;
  align-items: start;
  font-family: "BM Hanna";
}

.container {
  display: flex;
}

.title {
  display: flex;
  padding: 2%;
  background-color: brown;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.image {
  align-items: center;
  width: 100%;
}

.image img {
  width: 100%;
  height: 100%;
}
.btn-detalhes {
  text-align: center;
}

.btn-detalhes button {
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.detalhes {
  display: none;
  text-align: left;
  font-size: 0.9rem;
  color: #ffffff;
}

.detalhes.ativo {
  display: block;
}
