body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: "BM Hanna", sans-serif;
  overflow: hidden; /* Mantido para desktop/telas grandes */
}

h2 {
  background: linear-gradient(60deg, #ff751f, #b20837);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  margin: 0;
}

.geral {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container-side-bar {
  width: 35%;
  height: 100vh;
  overflow-y: auto;
  background-color: #0e0e0e;
  box-shadow: -5px 0 15px rgba(255, 117, 31, 0.1);
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.card {
  margin: 1rem 0rem;
  background: #181818;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(255, 117, 31, 0.2);
  overflow: hidden;
  padding: 3%;
  transition: background-color 0.4s ease-in-out, transform 0.3s ease-out,
    box-shadow 0.4s ease-in-out;
}

.card:hover {
  background: #1c1c1c;
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(255, 117, 31, 0.4);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tipo {
  background: linear-gradient(60deg, #ff751f, #b20837);
  color: #fff;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.image img {
  width: 100%;
  margin: 1rem;
  border-radius: 1rem;
  border: solid 2px rgba(255, 255, 255, 0.116);
}

footer {
  font-size: 0.95rem;
  color: #ccc;
  display: flex;
  align-items: center;
  gap: 5px;
}

footer i {
  color: #ff751f;
}

.container-mapa {
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: start;
  align-items: start;
}

.mapa {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.footer {
  margin-top: 2rem;
  width: 100%;
  height: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  background: linear-gradient(60deg, #ff751f, #b20837);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapinha {
  height: 80%;
  width: 100%;
  border-radius: 0% 0px 20px 20px;
  overflow: hidden;
}

.barra-superior {
  display: flex;
  width: 100%;
  height: 10%;
  align-content: center;
  justify-content: space-between;
  z-index: 1;
}

.form {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  padding: 1%;
  border-radius: 20px 20px 0px 0px;
}

button {
  color: #ffffff;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff751f, #b20837);
  transition: 0.3s;
  width: 15%;
  height: 100%;
  padding: 0.5rem;
}
