
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/navbar.css" rel="stylesheet" />
  <link href="/static/perfil.css" rel="stylesheet" />
  <title>Feed - Phoenix Rise</title>
</head>
<body>
  <div class="background">
    <!-- Navbar -->
    <header>
      <div class="logo">
        <img src="/static/imagens/logo_semfundo.png" alt="LOGO PHOENIX RISE" />
        <h1 class="degrade">Phoenix Rise</h1>
      </div>

      <!-- Incluindo os links corretamente -->
      {% include 'links_base.html' %}
    </header>
</body>
</html>