<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PR Homepage</title>
  </head>
  <body>
    <header>
      <a href="{{ url_for('inicio') }}">Inicio</a>
      <a href="{{ url_for('mapa_view_academia') }}">Academias</a>
      <a href="{{ url_for('mapa_view_loja') }}">Lojas</a>
      <a href="{{ url_for('inicio') }}">Perfil</a>
    </header>
    <h1>Olá! Bem vindo ao Phoenix Rise!</h1>
  </body>
</html>
