<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phoenix Rise</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <section class="secao1">
      <div class="overlay">
        <a href="{{ url_for('login_submit') }}" class="btn-entrar">Entrar</a>
        <img src="/static/imagens/logo_semfundo.png" alt="fenix" />

        <h1>Phoenix Rise</h1>
        <h2>Onde pessoas, esportes e lugares.<br />se encontram!</h2>
      </div>
    </section>
  </body>
</html>
