<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phoenix Rise</title>

    <!-- CSS externo -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <!-- classe identifica a página inicial -->
  <body class="pagina-inicial">
    <section class="secao1">
      <div class="shadow">
        <div class="sombra"></div>
      </div>
      <div class="overlay">
        <a href="{{ url_for('login_submit') }}" class="btn-entrar">ENTRAR</a>
        <img src="/static/imagens/logo_semfundo.png" alt="Fênix" />
        <h1>PHOENIX RISE</h1>
        <h2>MOVIMENTO QUE INSPIRA. INFORMAÇÃO QUE CONECTA E EVOLUÇÃO QUE SE COMPARTILHA.</h2>
      </div>
    </section>

    <section class="secao2">
      <div class="titulo_secao2">
        <h1>CONHEÇA O PHOENIX RISE</h1>
      </div>

      <div class="containers">
        <div class="card">
          <div class="icone">
            <img src="/static/imagens/icon_lu (1).png" alt="Ícone busca" />
          </div>
          <h3>Descubra</h3>
          <p>
            <strong>Phoenix Rise</strong> conecta você ao mundo fitness.
            Descubra academias, quadras esportivas, boxes e lojas fitness
            próximos de você.
          </p>
        </div>

        <div class="card">
          <div class="icone">
            <img src="/static/imagens/icon_midia.png" alt="Ícone icon_midia" />
          </div>
          <h3>Compartilhe</h3>
          <p>
            Publique suas conquistas, inspire outros usuários e receba curtidas
            e comentários da comunidade. Mostre sua evolução e motive quem te
            acompanha.
          </p>
        </div>

        <div class="card">
          <div class="icone">
            <img src="/static/imagens/icon_comu.png" alt="Ícone comunidade" />
          </div>
          <h3>Conecte-se</h3>
          <p>
            Acompanhe conteúdos de pessoas que pensam como você, explore
            diferentes perspectivas e descubra novas ideias inspiradoras dentro
            da comunidade Phoenix Rise.
          </p>
        </div>
      </div>
    </section>

    <footer class="rodape">
      <p><span>Phoenix Rise - 2025</span></p>
    </footer>
  </body>
</html>
