<!-- links_base.html -->
<a
  href="{{ url_for('inicio') }}"
  class="{% if request.endpoint == 'inicio' %}active{% endif %}"
  >HOME</a
>
<a
  href="{{ url_for('feed') }}"
  class="{% if request.endpoint == 'feed' %}active{% endif %}"
  >FEED</a
>

<a
  href="{{ url_for('mapa_view') }}"
  class="{% if request.endpoint == 'mapa_view' %}active{% endif %}"
  >BUSQUE</a
>

<a
  href="{{ url_for('perfil') }}"
  class="{% if request.endpoint == 'perfil' %}active{% endif %}"
  >PERFIL</a
>

<a
  href="{{ url_for('postagem') }}"
  class="{% if request.endpoint == 'postagem' %}active{% endif %}"
  >NOVO</a
>
