<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phoenix Rise</title>
    <link
      rel="stylesheet" href="{{ url_for('static', filename='exemplo1.css') }}"
    />

    <style>
      body {
        background-image: url("{{ url_for('static', filename='imagens/fundo_semfenix.png') }}");
        background-size: cover;      /* Ajusta para cobrir toda a tela */
        background-position: center; /* Centraliza a imagem */
        background-repeat: no-repeat;/* Não repete a imagem */
        }
    </style>

  </head>
  <body>
    <h1>Phoenix Rise</h1>
    <img src="/static/imagens/fenix_2500.png" alt="TheGhost" class="w-32 h-32 rounded-full mx-auto mb-4 border-4 border-white object-cover">

    <p>Bem-vindo(a) de volta à sua jornada pelo bem-estar!</p>

    <form action="{{ url_for('login_submit') }}" method="post">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Digite seu email"
        required
      />
      <br /><br />

      <label for="senha">senha:</label>
      <input
        type="password"
        id="senha"
        name="senha"
        placeholder="Digite sua senha"
        required
      />
      <br /><br />

      <button type="submit">Entrar</button>
    </form>
    {{ mensagem }}
    <p>Ainda não tem uma conta?</p>

    <a href="/cadastro">Fazer Cadastro</a>
  </body>
</html>
