<!DOCTYPE html>
<html lang="pt-BR">
  <!--META DADOS E RESPONSIVIDADE-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phoenix Rise</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
  </head>

  <!--ESTRUTUTRA DO LOGIN-->
  <body>
    <h1 class="degrade">LOGIN</h1>
    <div class="fundo_do_login">
      <form action="login" method="post">
        <label for="email">Email</label>
        <br /><br />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Digite seu email"
          required
        />
        <br /><br />
        <label for="senha">Senha</label>
        <br /><br />
        <input
          type="password"
          id="senha"
          name="senha"
          placeholder="Digite sua senha"
          required
        />
        
        <br /><br />
        <button type="submit">Acessar</button>
        <p>Não tem conta? <a href="{{ url_for('cadastro_submit') }}">Cadastre-se</a></p>

      </form>
    </div>

  

    <!--BOTAO DE VOLTAR PARA PAGINA HOME-->
    <a href="{{ url_for('principal') }}" class="botao-voltar">
  <i class="fa fa-arrow-left"></i>
</a>

  </body>
</html>
