<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Mapa</title>
    <link href="style_mapa.css" rel="stylesheet">
    <style></style>
  </head>
  <body>
    <header>
      <a href="{{ url_for('inicio') }}">Início</a>
      <a href="{{ url_for('mapa_view_academia') }}">Academias</a>
      <a href="{{ url_for('mapa_view_loja') }}">Lojas</a>
      <a href="{{ url_for('inicio') }}">Perfil</a>
      <a href="{{ url_for('login_submit') }}">Sair</a>
    </header>
    <div class="mapa">
      <h1>{{ titulo }}</h1>
      {{ mapa_html|safe }}
    </div>
  
    <div class="barra_lateral">
      {{ mensagem }}
    </div>

  </body>
</html>
